= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :permalink
    = f.text_field :permalink
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :pic
    = f.file_field :pic
  .actions
    = f.submit 'Save'
