!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = yield :meta
  %body
    .social_box
      .net_box
        .icon
          .img_b
            = image_tag "email.png"
      .net_box
        .icon
          .img_b
            = image_tag "facebook.png"
      .net_box
        .icon
          .img_b
            = image_tag "xing.png"
      .net_box
        .icon
          .img_b
            = image_tag "instagram.png"
    .content
      %nav
        %ul
          %li
            .navbox
              = link_to root_path do
                %p Home
          %li
            .navbox
              = link_to about_path do
                %p Über mich
          %li
            .navbox
              = link_to "#" do
                %p Links
          %li
            .navbox
              = link_to imprint_path do
                %p Kontakt
      -if alert
        %p= alert
      -if notice
        %p= notice
      = yield
